.App {
  font-family: sans-serif;
  padding: 10px;
  background-color: #f9f9f9;
  height: 100%;
  min-height: 700px;
}

.leftSec {
  width: 70%;
  float: left;
}
.rightSec {
  width: 30%;
  float: left;
}

.productCard {
  background-color: white;
  box-shadow: 0 2px 2px #ddd;
  margin-bottom: 20px;
  padding: 10px 10px 0;
}

.sideBox {
  background-color: white;
  box-shadow: 0px 2px 2px #ddd;
  margin: 0 0 0 10px;
  padding: 10px;
}

.sideboxItem {
  margin-top: 12px;
  display: flex;
  font-size: 13px;
  justify-content: space-between;
}

.totalPriceBox {
  border-top: 1px solid #ddd;
  padding-top: 8px;
  font-size: 15px;
  font-weight: 600;
}

.redirectBtn {
  width: 100%;
  padding: 8px 12px;
  color: white;
  background-color: green;
  box-shadow: none;
  border: 0;
  cursor: pointer;
}

.gridBox {
  display: flex;
  flex-grow: 1;
}

.leftGrid {
  width: 120px;
  padding: 4px;
}
.img {
  width: 80px;
  height: 80px;
  background-color: lightgray;
}

.qtyActionBox {
  width: 100%;
  max-width: 80px;
  display: flex;
  margin-top: 4px;
  flex-grow: 1;
  justify-content: space-between;
}

.qtyBtn {
  width: 24px;
  height: 24px;
  border: 0;
  background-color: #a1a1a1;
  font-size: 18px;
  vertical-align: middle;
  flex-grow: 1;
  text-align: center;
  cursor: pointer;
}

.qtybtn:disabled {
  background-color: #f3f3f3;
  opacity: 0.8;
  cursor: not-allowed;
}
.qtyInput {
  flex-grow: 1;
  width: 20px;
  margin: 0 3px;
  text-align: center;
}

.rightGrid {
  width: calc(100% - 20px);
  flex-grow: 1;
}

.productHeader {
  font-weight: 600;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.desc {
  margin: 4px 0;
  width: 100%;
  display: flex;
  font-size: 13px;
  justify-content: flex-start;
}

.code {
  margin: 4px 0;
  width: 100%;
  font-size: 13px;
  display: flex;
  justify-content: flex-start;
}

.bold {
  font-weight: 600;
}
.qty {
  margin: 4px 0;
  width: 100%;
  font-size: 13px;
  display: flex;
  justify-content: flex-start;
}

.actionBox {
  display: flex;
  flex-grow: 1;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 10px -10px;
}

.actBtn {
  width: 50%;
  padding: 10px 12px;
  border-collapse: collapse;
  border: 0;
  background-color: #fff;
  color: blue;
  cursor: pointer;
}

.actBtn:nth-child(2) {
  border-left: 2px solid #ddd;
}
